* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
  }
  
  #followLinks {
    display: flex;
    margin: 0;
    margin-top: 10px;
    padding:0;
    padding: 10px;
    list-style: none;
    justify-content: center;
  }
  
  #followLinks li{
    padding: 10px;
  }
  
  .socialIcons {
    height: 100px;
    width: 100px;
  }
  
  a.anchor {
      display: block;
      position: relative;
      visibility: hidden;
      top: -95px;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  #mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #F0F8FF;
    width: 100vw;
  }
  
  #logo {
    height: 100vh;
    width: 200vw;
    grid-area: logo;
    text-align: center;
  }
  
  .projectThumbs {
    width: 100%;
  }
  
  header {
    position: fixed;
    width: 100%;
  }
  
  #navbar ul {
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #cdd2d8;
    
  }
  
  #navbar li:hover {
    transform: scale(1.2);
  }
  
  #navbar ul li{
    padding: 5px;
  }
  
  #navbar ul li a {
    text-decoration: none;
    color: black;
  }
  
  #portrait {
    grid-area: portrait;
    max-width: 150px;
    border-radius: 50%;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  
  
  .project-tile {
    width: auto;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px 2px 0px 2px;
    border: 2px solid grey;
  }
  
  #welcome-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "portrait"
                         "text";
    height: 100vh;
    background-color: #6ed3cf;
    padding: 0px 5px 25px 5px;
    margin-top: 95px;
  }
  
  #welcomeText {
    grid-area: text;
    text-align: center;
  }
  
  p {
    padding-bottom: 5px;
  }
  
  #headerName {
    margin-top: 20px;
    grid-area: header;
    text-align: center;
  }
  
  #projects {
    background-color: #6ed3cf;
  }
  
  #outerProjectContainer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px 25px 15px 15px;
  }
  
  #projectsHeading {
    padding: -2px 10px 15px 15px;
    text-align: center;
  }
  
  #contact {
    text-align: center;
    background-color: #f9fafc;
    padding: 5px 15px 15px 5px;
    height: 100vh;
  }
  
  #contactHeader {
    margin-top: 50px;
    text-align: center;
  }
  
  @media (min-width: 800px) {
    
      #outerProjectContainer {
        grid-template-columns: 1fr 1fr;
        padding: 15px 25px 15px 15px;
    }
  }